@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terceario: #22D4FD;
    --color-hover:#272727;
    --color-firebase: #FFCA28;
    --color-unity: #2e2727;
    
    --fuente-montserrat: 'Montserrat', sans-serif;
    --fuente-krona-one:"Krona One", sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra */
}
body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
    background-image: url(../assets/body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header.header{
    padding: 0% 0% 0% 15%;
    position: fixed;
}
nav.header__menu{
    display: flex;
    gap: 80px;
}

a.header__menu__link{
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    color: var(--color-terceario);
    text-shadow: 2px 2px 2px var(--color-primario);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
a.header__menu__link:hover{
    color: var(--color-hover);
}
main.presentacion{
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-between;
    margin-top: 70px;
}
section.presentacion__contenido{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona-one);
}

.presentacion__contenido__parrafo{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    font-weight: 400;
}
span.c{
    color: #22D4FD;
}
.firebase{
    color: var(--color-firebase);
}
.unity:hover{
    color: var(--color-terceario);
}
.div_curriculum{
    display: flex;
    justify-content: center;
    align-items: center;
}
#curriculum{
    color: var(--color-primario);
    padding: 1rem;
    width: 40%;
    text-align: center;
    font-weight: 600;
    border-radius: 15px;
    border-color: var(--color-terceario);
    background-color: var(--color-primario);
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    background-color: #22D4FD;
    vertical-align: middle;
}
#curriculum:hover{
    color: var(--color-terceario);
    background-color: var(--color-primario);
}
#curriculum::first-letter{
    font-size: 30px;
    font-family: var(--fuente-krona-one);
}
.imagen__cv{
    width: 35px;
    height: 35px;
    vertical-align: middle;
}
img.imagen__1{
    margin-left: 170px;
    margin-right: 0px;
    width: 488px;
    height: 700px;
    border-radius: 90px;
}
footer.footer{
    text-align: center;
    padding: 21px;
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    font-weight: 400;
}
@media (max-width: 1200px){
    .header{
        padding: 10%;
    }
    .presentacion{
        
    }
    .presentacion__contenido{
        width: auto;
    }
}
@media screen and (max-width: 900px){
    .presentacion{
        flex-direction: column;
    }
    .presentacion__contenido{
        margin-left: 90px;
        margin-right: 70px;
        width: 100%;
    }
    .div_curriculum{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}